.BoxItem {
  $then: &;

  &--vertical {

  }

  &--horizontal {
    flex-direction: row;
    justify-content: space-between;

    .softImage {
      flex: 0 0 100px;
    }

    .SubMegaMenu__item-sub__content {
      width: calc(100% - 118px);
    }
  }
}
