.CategoryDate {
  &__category {
    font-size: 12px;
    line-height: 1.7;
    color: $gray;
  }

  &__separate {
    font-size: 12px;
    line-height: 1.7;
    color: $gray;
  }

  &__date {
    font-size: 12px;
    line-height: 1.7;
    color: $gray;
  }
}
