.MegaMenu {
  height: 100%;
  position: relative;
  $then: &;

  &__item {
    font-family: Roboto-Medium;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    color: #222;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 5px 0;
    margin: 0 18px;
    transition: all .3s;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    touch-action: manipulation;

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: calc(100% + 36px);
      height: 5px;
      bottom: 0;
      left: -18px;
      background-color: #e6e6e6;
      transition: all .3s;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      -moz-transition: all .3s;
      -webkit-transform: scaleX(0);
      -moz-transform: scaleX(0);
      -ms-transform: scaleX(0);
      -o-transform: scaleX(0);
      transform: scaleX(0);
    }

    &::after {
      font-size: 16px;
      color: #222;
      line-height: 1.5;
      margin-left: 6px;
      margin-bottom: 1px;
      transition: all .3s;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      -moz-transition: all .3s;
    }
  }

  &__sub-menu {
    list-style-type: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: 225px;
    background-color: #fff;
    padding: 15px 0;
    transition: all .3s;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    visibility: hidden;
    opacity: 0;
    border: 1px solid #f2f2f2;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .2);
    -o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .2);
    -ms-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .2);

    li {
      position: relative;
      background-color: transparent;

      a {
        font-size: 15px;
        font-weight: bold;
        line-height: 1.7857;
        color: #222;
        display: block;
        padding: 8px 30px;
        width: 100%;
        transition: all .3s;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        -moz-transition: all .3s;

        &:hover {
          background-color: #17b978;
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }

  &:hover {
    #{$then}__item {
      text-decoration: none;
      color: #17b978;
    }

    #{$then}__sub-menu {
      visibility: visible;
      opacity: 1;
    }
  }

  &--active {
    #{$then}__item::before {
      -webkit-transform: scaleX(1);
      -moz-transform: scaleX(1);
      -ms-transform: scaleX(1);
      -o-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
}
