.TitleLabel {
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
  color: #182730;
  padding-bottom: 14px;
  margin-bottom: 0;
  letter-spacing: .01em;
  padding-bottom: 22px;
  display: block;
}
